
body {
    margin: 0;
    padding: 0;
    background-image: url('images/marketing-ideas-share-research-planning-concept.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    color: rgb(17, 18, 18);
    font-family: Arial, sans-serif;
    height: 100%;
}


header {
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.5); 
    margin-top: 50px;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 20px 0;
}

header .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 20px;
}

header .btn:hover {
    background-color: #0056b3;
}

/* Services section */
#services {
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}

#services h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.service img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.service h3 {
    font-size: 1.2em;
}


#testimonials {
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.testimonial-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial {
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
}

.testimonial img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.testimonial p {
    font-style: italic;
}


#contact {
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

#contact form {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

#contact label {
    display: block;
    margin: 10px 0 5px;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

#contact button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
    width: 40px; 
    height: 40px; 
}

footer .social-icons img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    transition: transform 0.3s ease-in-out;
}

footer .social-icons a:hover img {
    transform: scale(1.1); 
}
